body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.header-content {
  background: #3e2b2e;
  margin: 0;
  max-width: 100%;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #ffff;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: #cc9a97;
}

.logo {
  max-height: 55px;
  margin-left: 10px;
  border-radius: 40px;
}
